<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
  <add key="connectionString" value="Data Source=localhost; Integrated Security=SSPI; Database=Reuters21578" />
  <!--
		Sql Connection Strings
    <add key="connectionString" value="Data Source=192.168.0.101; Integrated Security=SSPI;  Database=Reuters21578" />
    <add key="resultsConnectionString" value="Data Source=192.168.0.101; Integrated Security=SSPI;  Database=BayesResults" />
    <add key="connectionString" value="Data Source=192.168.0.100; Integrated Security=SSPI; Database=Spam" />
    <add key="resultsConnectionString" value="Data Source=192.168.0.100; Integrated Security=SSPI;  Database=BayesResults" />
	-->
  <add key="connectionString" value="Data Source=localhost; Integrated Security=SSPI;  Database=Reuters21578" />
  <add key="resultsConnectionString" value="Data Source=localhost; Integrated Security=SSPI; Database=BayesResults" />
  <!--
		Configuration for settings of finding words
	-->
  <add key="minCount" value="15" />
  <add key="maxCount" value="150" />
  <add key="minWordSize" value="4" />
  <add key="removeSuffix" value="false" />
  <add key="useBlacklist" value="true" />
  <add key="dataSet" value="Reuters" />
  
  <!-- Find Words NLP settings-->
  <add key="MaximumEntropyModelDirectory" value="C:\Program Files\SharpNLP\Models\"/>
  <add key="limitWordType" value="noun"/> <!-- if blank, no words will be limited based on type -->
  
  <!--
		Configuration of what to do when a word does not hit on an article	
	-->
  <add key="allowMinValue" value="false" />
  <add key="usePrior" value="false" />
  <add key="useLaplace" value="false" />
  <add key="useMestimate" value="true" />
  <!--
		Files that are saved and read
	-->
  <add key="categoryFile" value="reuters_categories.xml" />
  <add key="trainingFile" value="reuters_training.xml" />
  <add key="resultsFile" value="reuters_results.csv" />
  <add key="summaryFile" value="reuters_summary.xml" />
  <add key="savedWordFile" value="reuters_words.csv" />
  <add key="blacklistFile" value="reuters_blacklist.txt" />
  <!-- 
		Settings to determine which functions to run
	-->
  <add key="findWords" value="true" />
  <add key="trainSet" value="true" />
  <add key="testSet" value="true" />
  <add key="saveToDb" value="true" />
</appSettings>
</configuration>